{% load static %}
{% load crispy_forms_tags%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "stylesheet" href = "{% static 'login/css/login.css'%}" />
        <title>Dr. Dre</title>
    </head>
    <body>
        <form method = 'POST'>
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <legend class = 'form-legend'>Welcome to Dr. Dre's Shop</legend>
                {{form}}
            </fieldset>
            <div class = 'submission'>
                <button class = 'login-button' type = 'submit'>Log In</button>
                <a href = "#" class = 'forgot-password'>Forgot Password...</a>
            </div>
        </form>
    </body>
</html>