{% load static %}
{% load crispy_forms_tags%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "stylesheet" href = "{% static 'login/css/login.css'%}" />
        <title>Dr. Dre</title>
    </head>
    <body>
        <div class = 'Password-message-reset-container'>
            <h1 style = "color: white;">Password Reset Complete...</h1>
            <p style = "color: white;">We've emailed you instructions for setting up a new password. If your account exists with the email you entered, 
                you'll receive an email shortly. 

                If you don't receive an email, please make sure the email address you entered is correct, or check your span folder.
            </p>
        </div>
    </body>
</html>