{% extends "home/base.html"%}
{% load crispy_forms_tags%}
{% block content %}
<div class = "actionpage">
    <!--FORM HERE-->
    <form method = 'POST' id = 'ChangePasswordForm' style = "width:50%;">
        {% csrf_token %}
        <fieldset class = 'form-group'>
            <legend class = 'legend-basic', id = "{{uid}}">{{uid}} Change Password</legend>
            {{form|crispy}}
            <small><a href = "{% url 'profile' uid %}">Back to profile</a></small>
        </fieldset>
        <div class = 'form-group'>
            <button class = 'btn-active' type = 'submit' style = "width: 150px;">Change Password</button>
            
        </div>
    </form>
</div>
<div class = 'messages-container'>
    {% if messages %}
        {% for message in messages %}
            <p class = "{{message.tags}}">{{message}}</p>
        {% endfor %}
    {% endif %}
  </div>
{% endblock%}