{% extends "home/base.html"%}
{% load crispy_forms_tags%}
{% block content %}
    <div class = "actionpage">
        <div class="action-header">
            <button class = 'btn-active' id = "create-user">Create new user</button>
            <input type = "text" placeholder = "Search"id = 'srch' />
        </div>
        <table>
            <tr>
                <th>ID:</th>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Username:</th>
                <th>Email:</th>
                <th>Active:</th>
                <th>Role:</th>
            </tr>
            {% for p in profiles %}
                <tr class = '{{p.user.is_active}} table-row' id = "{{p.user.username}}">
                    <td>{{p.user.id}}</td>
                    <td>{{p.user.first_name}}</td>
                    <td>{{p.user.last_name}}</td>
                    <td>{{p.user.username}}</td>
                    <td>{{p.user.email}}</td>
                    <td>{{p.user.is_active}}</td>
                    <td>{{p.role}}</td>
                </tr>
            {% endfor %}
        </table>
        <div class = 'messages-container'>
            {% if messages %}
                {% for message in messages %}
                    <p class = "{{message.tags}}">{{message}}</p>
                {% endfor %}
            {% endif %}
          </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form method = 'POST' id = "UserCreationForm">
                    {% csrf_token %}
                    <fieldset class = 'form-group'>
                        <legend class = 'legend-basic' id = "users-legend">Create New User</legend>
                        {{form1|crispy}}
                        {{form2|crispy}}
                        <div class = 'form-group'>
                            <button class = 'btn-active' type = 'submit'>Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#srch').keyup(function(){
                search_table($(this).val());
            });

            function search_table(value){
                $('.table-row').each(function(){
        
                $(this).each(function(){
                    if($(this).text().toLocaleLowerCase().indexOf(value.toLocaleLowerCase()) >= 0){ $(this).show();}
                    else{$(this).hide();}
                    });
                });
            }

            $('#create-user').click(function(){
                $('#myModal').show();
            });

            $('.table-row').click(function(){
                var row_id = $(this).attr('id');
                $('#myModal').show();
                $('#users-legend').text('Edit User');
                $('#UserCreationForm').attr('action', "/dre_admin/UpdateUser/" + row_id);
                $.getJSON("/dre_admin/GetUserByID/" + row_id, function(data){
                    $('#id_first_name').val(data.user.first_name);
                    $('#id_last_name').val(data.user.last_name);
                    $('#id_email').val(data.user.email);
                    $('#id_is_active').attr('checked', data.user.is_active);
                    $('#id_role').prepend("<option value = '"+data.role+"' selected hidden>"+data.role+"</p>");
                    $('#id_department').prepend("<option value = '"+data.department+"' selected hidden>"+data.department.dep_name+"</p>");
                    $('#id_team').prepend("<option value = '"+data.team+"' selected hidden>"+data.team.team_name+"</p>");
                });
            });

            $('.close').click(function(){
                $('#myModal').hide();
                $('#UserCreationForm').attr('action', '/dre_admin/register/');
                $('#users-legend').text('Create New User');
                $('#id_first_name').val("");
                    $('#id_last_name').val("");
                    $('#id_email').val("");
                    $('#id_is_active').attr('checked', true);
                    $('#id_role').prepend("<option value = 'User' selected hidden>User</p>");
                    $('#id_department').prepend("<option value = 'All' selected hidden>All</p>");
                    $('#id_team').prepend("<option value = 'All' selected hidden>All</p>");
            });

        });
    </script>
{% endblock %}