{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src = "{% static 'home/Js/jquery/dist/jquery.min.js' %}"></script>
        <link rel = "stylesheet" href = "{% static 'home/css/main.css'%}" />
        <title>Dr. Dre Cars Shop</title>
    </head>
    <body>
      <nav class = 'main-nav'>
        <ul>
          <div class = 'left-stuff-container'>
            <li><a href="{% url 'home'%}">Home</a></li>
            {% if prf.role == 'Admin'%}
            <li class = 'dropdown'><a href="#">Admin</a>
              <div class="dropdown-content">
                <a href="{% url 'departments'%}">Departments</a>
                <a href="{% url 'teams' %}">Teams</a>
                <a href="{% url 'register_user'%}">Users</a>
              </div>
            </li>
            {% endif %}
            <li><a href="#">Jobs</a></li>
          </div>
          <div class = 'right-stuff-container'>
            <li class = 'dropdown'>
              <a href="javascript:void(0)" class="dropbtn">{{user.username}} </a>
              <div class="dropdown-content">
                <a href="{% url 'profile' user.username %}">View Profile</a>
                <a href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
          </div>
        </ul> 
      </nav>
      <div class = 'mainpage'>
        {% block content %}{% endblock %}
      </div>
    </body> 
</html>